<?php echo '<?php'; ?> 

// admin site information
define('SECRET_KEY', '1234567890abcdefghijklmnopqrstuvwxyz');

define('ADMIN_TITLE', '<?php echo $admin_title; ?>');
define('ADMIN_SUBTITLE', '<?php echo $admin_subtitle; ?>');

// database informations
// for sqlite, use sqlite:/tmp/frog.db (SQlite 3)
// the path can only be absolute path or :memory:
// for more info look at: www.php.net/pdo

define('DB_DSN', 'mysql:dbname=<?php echo $db_name; ?>;host=<?php echo $db_host; ?>');
define('DB_USER', '<?php echo $db_user; ?>');
define('DB_PASS', '<?php echo $db_pass; ?>');

define('TABLE_PREFIX', '<?php echo $table_prefix; ?>');

define('LANGUAGE', '<?php echo $language; ?>');

define('DEBUG', false);

// creating the database connection for FROG
// if you think the config file is not the place to put this code here
// I think that too, but for the moment it is here, if you have sugestion
// please email me I'm really open

// if your server doesn't have PDO (with MySQL driver) uncomment next 2 lines
// and comment both after

<?php if ($use_pdo): ?>
//require_once CORE_ROOT . 'libraries/DoLite.php';
//$__FROG_CONN__ = new DoLite(DB_DSN, DB_USER, DB_PASS);

$__FROG_CONN__ = new PDO(DB_DSN, DB_USER, DB_PASS);
$__FROG_CONN__->setAttribute(PDO::MYSQL_ATTR_USE_BUFFERED_QUERY, true);
<?php else: ?>
require_once CORE_ROOT . 'libraries/DoLite.php';
$__FROG_CONN__ = new DoLite(DB_DSN, DB_USER, DB_PASS);

//$__FROG_CONN__ = new PDO(DB_DSN, DB_USER, DB_PASS);
//$__FROG_CONN__->setAttribute(PDO::MYSQL_ATTR_USE_BUFFERED_QUERY, true);
<?php endif; ?>
